<div class="container">
  <header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <strong>Conta Azul</strong>
        </a>
      </div>
    </div>
  </header>

  <div class="jumbotron">
    <div *ngIf="msnVisible" class="alert alert-{{ message.alert }}" role="alert">
      {{ message.texto }}
    </div>
    <div class="row mb-3">
      <div class="col-md-8">
        <div class="">
          <app-form-modal></app-form-modal>
          <button class="btn btn-lg btn-danger ml-3" (click)="removeItem()">Excluir Carro</button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Pesquisar"
            aria-label="Pesquisar"
            aria-describedby="Pesquisar veiculos na lista">

            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="">
      <table class="table table-hover table-white">
        <thead class="table-white-thead">
          <tr>
            <th scope="col">
              <div class="checkbox">
                <label>
                  <input type="checkbox">
                  <span class="cr"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>

                </label>
              </div>
            </th>
            <th>Placa</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th  class="text-center">Foto</th>
            <th>Combustivel</th>
            <th>Valor</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let v of pagedItems | filter : searchText">
            <th scope="row">
              <div class="checkbox">
                <label>
                  <input type="checkbox" [value]="v._id" (change)="onChange($event.target)">
                  <span class="cr"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>
                </label>
              </div>
            </th>
            <td>{{v?.placa}}</td>
            <td>{{v?.modelo.name}}</td>
            <td>{{v?.marca.fipe_name}}</td>
            <td class="text-center"><img [src]="v.imagem" alt="" width="80"/></td>
            <td>{{v?.combustivel}}</td>
            <td>{{v?.valor | currency:'BRL':'': '1.2-2' }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav aria-label="Pagina de Veiculos">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(1)">Inicio</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
              <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Anterior">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Anterior</span>
              </a>
          </li>
          <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a class="page-link" (click)="setPage(page)">{{page}}</a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Próximo">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Prókkkiximo</span>
              </a>
          </li>
          <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
              <a class="page-link" (click)="setPage(pager.totalPages)">Fim</a>
          </li>
      </ul>
    </nav>
  </div>
</div>

<!-- <div class="" *ngIf="isVisible">
<form [formGroup]="formVehicles" (ngSubmit)="submitForm()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="placa">Placa</label>
      <input type="text" class="form-control" id="placa" placeholder="Placa" formControlName="placa">
    </div>
    <div class="form-group col-md-6">
      <label for="marca">Marca</label>
      <select class="custom-select" formControlName="marca">
        <option selected>Escolha a Marca</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="modelo">Modelo</label>
      <select class="custom-select" formControlName="modelo">
        <option selected>Escolha o Modelo</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label for="foto">Foto</label>
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="foto" formControlName="modelo">
        <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
        <div class="invalid-feedback">Example invalid custom file feedback</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="combustivel">Combustivel</label>
      <input type="text" class="form-control" id="combustivel" placeholder="Combustivel" formControlName="combustivel">
    </div>
    <div class="form-group col-md-6">
      <label for="valor">Valor</label>
      <input type="number" class="form-control" id="valor" placeholder="Valor" formControlName="valor">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Salvar Veiculo</button>
</form>
</div> -->
