<ng-template #content let-modal>

  <div class="modal-header">
    <app-message
      [text]="message.texto"
      [isVisible]="message.visible"
      [typeAlert]="message.type">
    </app-message>

    <h4 class="modal-title" id="modal-basic-title">{{configBtn.name}} Veículo</h4>
  </div>
  <div class="modal-body">

    <div class="">
      <form [formGroup]="formVehicles" (ngSubmit)="submitForm()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="placa">Placa</label>
            <input type="text" class="form-control" id="placa" placeholder="Placa" formControlName="placa">
          </div>

          <div class="form-group col-md-6">
            <label for="tiposVeiculos">Tipo do Veículo</label>
            <select class="custom-select" formControlName="tiposVeiculos">
              <option selected>Escolha o Tipo do Veículo</option>
              <option [value]="tipo.nome" *ngFor="let tipo of tiposVeiculos ">{{tipo?.nome | titlecase}}</option>
            </select>
          </div>

          <div class="form-group col-md-6">

            <label for="marca">Marca</label>
            <select class="custom-select" formControlName="marca" [compareWith]="compareMarca">
              <option selected>Escolha a Marca</option>
              <option [ngValue]="marcar" *ngFor="let marcar of marcas">{{marcar?.fipe_name}}</option>
            </select>
          </div>

          <div class="form-group col-md-6">
              <label for="modelo">Modelo</label>
              <select class="custom-select" formControlName="modelo" [compareWith]="compareMarca">
                <option selected>Escolha o Modelo</option>
                <option [ngValue]="modelo" *ngFor="let modelo of modelos">{{modelo?.name}}</option>
              </select>
            </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="foto">Foto</label>
            <div class="custom-file mb-3">
              <input type="file" class="custom-file-input" appFile accept="image/png, image/jpeg" (change)="onFileChange($event)" #fileInput id="foto" formControlName="foto">
              <label class="custom-file-label" for="foto">Selecione Arquivo</label>
            </div>
            <div *ngIf="url">
              <img [src]="url" width="200" class="img-thumbnail" />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="combustivel">Combustivel</label>
            <input type="text" class="form-control" id="combustivel" placeholder="Combustivel" formControlName="combustivel">
          </div>
          <div class="form-group col-md-6">
            <label for="valor">Valor</label>
            <input type="number" class="form-control" id="valor" placeholder="Valor" formControlName="valor">
          </div>
        </div>
        <button type="submit" class="btn btn-primary">{{configBtn.name}} Veículo</button>
      </form>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Fechar</button>
  </div>
</ng-template>

<app-alert></app-alert>

<button [ngClass]="configBtn.type" (click)="open(content, idVehicles)">
  <i [ngClass]="configBtn.icon" hidden="configBtn.hidden" aria-hidden="true"></i>
  {{configBtn.name}}
</button>

