  <app-message
    [text]="message.texto"
    [isVisible]="message.visible"
    [typeAlert]="message.type">
  </app-message>

  <div class="row mb-3">
    <div class="col-md-8">
      <div class="">
        <app-form-modal [typeButton]="add"></app-form-modal>
        <button class="btn btn-lg btn-danger ml-3" (click)="removeItem()">
          <i class="fa fa-minus-circle" aria-hidden="true"></i>
          Excluir Carro</button>
      </div>
    </div>
    <div class="col-md-4">
      <div class="">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Pesquisar"
          aria-label="Pesquisar"
          aria-describedby="Pesquisar veiculos na lista">

          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon2">
              <i class="fa fa-search" aria-hidden="true"></i>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="">
    <table class="table table-hover table-white">
      <thead class="table-white-thead">
        <tr>
          <th scope="col">
            <div class="checkbox">
              <label>
                <input type="checkbox">
                <span class="cr"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>

              </label>
            </div>
          </th>
          <th>Placa</th>
          <th>Modelo</th>
          <th>Marca</th>
          <th  class="text-center">Foto</th>
          <th>Combustivel</th>
          <th>Valor</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let v of pagedItems | filter : searchText">
          <th scope="row">
            <div class="checkbox">
              <label>
                <input type="checkbox" [value]="v._id" (change)="onChange($event.target)">
                <span class="cr"><i class="cr-icon fa fa-check" aria-hidden="true"></i></span>
              </label>
            </div>
          </th>
          <td>{{v?.placa}}</td>
          <td>{{v?.modelo.name}}</td>
          <td>{{v?.marca.fipe_name}}</td>
          <td class="text-center"><img [src]="v.foto || default" alt="{{ v?.modelo.fipe_marca}} {{ v?.modelo.name }}" width="80"/></td>
          <td>{{v?.combustivel}}</td>
          <td>{{v?.valor}}</td>
          <td>
            <app-form-modal [typeButton]="edit" [idVehicles]="v._id"></app-form-modal>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <nav aria-label="Pagina de Veiculos">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a class="page-link" (click)="setPage(1)">Inicio</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
            <a class="page-link" (click)="setPage(pager.currentPage - 1)" aria-label="Anterior">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Anterior</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
            <a class="page-link" (click)="setPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a class="page-link" (click)="setPage(pager.currentPage + 1)" aria-label="Próximo">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Próximo</span>
            </a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
            <a class="page-link" (click)="setPage(pager.totalPages)">Fim</a>
        </li>
    </ul>
  </nav>
